*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: hsl(216, 12%, 8%);
  font-family: "Overpass", sans-serif;
}

h1,
h2 {
  color: hsl(0, 0%, 100%);
}

p {
  color: hsl(217, 12%, 63%);
  font-size: 15px;
}

/* Main DIV - content */

.content {
  border-radius: 15px;
  background-color: hsl(213, 19%, 18%);
  max-width: 440px;
  height: 380px;
  margin: 100px auto;
}

.content-size {
  width: 78%;
  margin: auto;
}

.text {
  padding-bottom: 10px;
}

/* Buttons */

.btn-star {
  cursor: pointer;
  background-color: hsl(216, 12%, 24%);
  color: hsl(217, 12%, 63%);
  border-radius: 50%;
  border-style: none;
  width: 50px;
  height: 50px;
  margin-top: 30px;
}

.btns {
  cursor: pointer;
  margin-right: 15px;
  background-color: hsl(216, 12%, 24%);
  color: hsl(217, 12%, 63%);
  border-radius: 50%;
  border-style: none;
  width: 50px;
  height: 50px;
  font-size: 17px;
}

.btns:hover {
  background-color: hsl(25, 97%, 53%);
  color: #fff;
}

.btn-submit {
  cursor: pointer;
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  width: 320px;
  height: 40px;
  border-radius: 20px;
  border-style: none;
  margin-top: 25px;
}

.btn-submit:hover {
  color: hsl(25, 97%, 53%);
  background-color: hsl(0, 0%, 100%);
}

.btn-add {
  background-color: gray;
  color: #fff;
}

/* Second part of the design */

.center-content {
  text-align: center;
}

.phone {
  margin: 40px 0 20px;
}

.text-selector {
  border-radius: 10px;
  padding-top: 6px;
  color: hsl(25, 97%, 53%);
  background-color: hsl(216, 12%, 24%);
  width: 170px;
  margin: auto;
  height: 30px;
}

/* Hidden class for Javascript interactions */

.hidden {
  display: none;
}
